.div1{
    color: darkturquoise;
}
body {
    background-color: rgb(15, 15, 15);
    color: crimson;
    font-family: monospace;
}
h2 {
    color: blueviolet;
}
button{
    background-color: darkslategray;
    color: crimson;
    font-family: monospace;
}