.div1{
    color: darkturquoise;
}
body {
    background-color: rgb(15, 15, 15);
    color: crimson;
    font-family: monospace;
    text-align: center;
}

h2 {
    color: blueviolet;
}

#img1{
    align-self: center;
}
#btn1,#btn2{
    cursor: pointer;
    border: 1px solid rgb(0, 52, 73);
    font-family: monospace;
    background: none;
    color: crimson;
    padding: 10px 10px;
    transition: 0.3s;
}
#btn1:hover,#btn2:hover{
    background-color: crimson;
    color: rgb(15, 15, 15);    
}