html{
    font-family: monospace;
}
body {
    background-color: rgb(15, 15, 15);
    color: crimson;
    font-family: monospace;
}
button{
    background-color: darkslategray;
    color: crimson;
    font-family: monospace;
}