body{
	background-color: rgb(15, 15, 30);
	font-family: monospace;
	text-align: center;
	color: cyan;
	font-size: large;
}
button, .button{
	padding: 10px 10px;
	color: cyan;
	border: 1px solid cyan;
	border-radius: 5px;
	background: none;
	font-size: 15px;
	transition: 300ms;
}
button:hover, .button:hover{
	background-color: cyan;
	color: rgb(15, 15, 30);
	box-shadow: 10px 10px rgb(0, 50, 50);
	cursor: pointer;
}
ul{
	display: inline-block;
}
footer{
	padding: 30px 30px;
}
a{
	color: cyan;
	text-decoration: underline solid cyan;
}
img{
	max-width: 100%;
	border: 1px solid cyan;
	border-radius: 5px;
}
.ignimg{
	border: none;
}
