.div1{
    color: rgb(0, 100, 100);
}
body {
    font-size: large;
}
body::-webkit-scrollbar{
	width: 1px;
}
h1{
    text-shadow: 2px 2px rgb(0, 50, 50);
    text-decoration: underline solid blueviolet;
    font-size: 50px;
}
h2 {
    color: blueviolet;
}
#img1{
    align-self: center;
	border: none;
}

