body{
    font-family: monospace;
    background-color: rgb(15, 15, 15);
    color: crimson;
}
div{
    float: left;
}
#btn1{
    border: 1px solid rgb(0, 52, 73);
    font-family: monospace;
    background: none;
    color: crimson;
    padding: 10px 10px;
    transition: 300ms;
}
#btn1:hover{
    cursor: pointer;
    background-color: crimson;
    color: rgb(0, 52, 73);
}
a{
    color: crimson;
}